# Server
PORT=3001

# Nuvio API
NUVIO_API_URL=https://api.nuvio.tv
NUVIO_PUBLISHABLE_KEY=sb_publishable_1Clq8rlTVACkdcZuqr6_AD__xUUC_EN

# TMDB (The Movie Database)
TMDB_API_KEY=4b7454f76cdb94098caebf7c00e1634a
TMDB_API_TOKEN=
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p
TMDB_PROXY_URL=

# MDBList
MDBLIST_API_KEY=

# AI Search (Gemini / Groq)
GEMINI_API_KEY=
GROQ_API_KEY=

# Poster Providers (Optional global fallbacks - user profile cards override these)
RPDB_API_KEY=
TOPPOSTERS_API_KEY=TP-txrM3ckKjDNEKviNF4628FZBPZBXm1AA
EASYRATINGS_TOKEN=Tk-8c2499b5d3798025c236379a618ca6231be3d20837b5badd
BETTERPOSTERS_URL=https://btttr.cc/poster-q/imdb/poster-default/{imdb_id}.jpg
CUSTOM_POSTER_URL=https://pictorium-nsp.vercel.app/api/poster/{type}/{imdb_id}

# Tracker OAuth Integrations (Trakt, Simkl)
TRAKT_CLIENT_ID=
TRAKT_CLIENT_SECRET=
SIMKL_CLIENT_ID=
SIMKL_CLIENT_SECRET=
